policy_module(leviathan, 1.100.1)

########################################
#
# Declarations
#

type leviathan_t;
type leviathan_exec_t;
init_daemon_domain(leviathan_t, leviathan_exec_t)

permissive leviathan_t;

type leviathan_initrc_exec_t;
init_script_file(leviathan_initrc_exec_t)

type leviathan_conf_t;
files_type(leviathan_conf_t)

type leviathan_var_lib_t;
files_type(leviathan_var_lib_t)

type leviathan_var_run_t;
files_type(leviathan_var_run_t)

type leviathan_port_t;
corenet_port(leviathan_port_t)

########################################
#
# leviathan local policy
#
allow leviathan_t self:process { fork };

allow leviathan_t self:fifo_file rw_fifo_file_perms;
allow leviathan_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(leviathan_t, leviathan_conf_t, leviathan_conf_t)
manage_files_pattern(leviathan_t, leviathan_conf_t, leviathan_conf_t)

manage_dirs_pattern(leviathan_t, leviathan_var_lib_t, leviathan_var_lib_t)
manage_files_pattern(leviathan_t, leviathan_var_lib_t, leviathan_var_lib_t)
files_var_lib_filetrans(leviathan_t, leviathan_var_lib_t, { dir file })

manage_dirs_pattern(leviathan_t, leviathan_var_run_t, leviathan_var_run_t)
manage_files_pattern(leviathan_t, leviathan_var_run_t, leviathan_var_run_t)

sysnet_dns_name_resolve(leviathan_t)
corenet_all_recvfrom_unlabeled(leviathan_t)

allow leviathan_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(leviathan_t)
corenet_tcp_sendrecv_generic_node(leviathan_t)
corenet_tcp_sendrecv_all_ports(leviathan_t)
corenet_tcp_bind_generic_node(leviathan_t)

gen_require(`
    type leviathan_port_t;
')
allow leviathan_t leviathan_port_t:tcp_socket name_bind;

gen_require(`
    type leviathan_port_t;
')
allow leviathan_t leviathan_port_t:tcp_socket name_connect;

domain_use_interactive_fds(leviathan_t)

files_read_etc_files(leviathan_t)

miscfiles_read_localization(leviathan_t)

sysnet_dns_name_resolve(leviathan_t)

allow leviathan_t leviathan_exec_t:file execute_no_trans;
allow leviathan_t self:process setsched;
corecmd_exec_ls(leviathan_t)
corenet_tcp_connect_http_port(leviathan_t)
dev_read_urand(leviathan_t)
fs_getattr_xattr_fs(leviathan_t)
kernel_read_system_state(leviathan_t)
